* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 350px);
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #170d3a;
    color: #FFF;
    font-size: 32px;
    min-height: 40px;
}

.task p {
    padding: 25px 0px 0px 50px;
    font-size: 16px;
    color: #252550;
}

.content {
    padding-top: 75px;
    padding-bottom: 75px;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #170d3a;
    color: #FFF;
    font-size: 12px;
    min-height: 30px;
}