<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <header class="center header">Header</header>
    <section class="center content">
        <h1>Home page content</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla eos vero odit, amet sunt provident, esse laudantium neque quis reiciendis iure porro cum, minima sequi fuga! Error maiores laudantium corporis repudiandae eligendi accusantium similique veritatis exercitationem praesentium maxime perspiciatis quod sit dicta, sapiente a labore distinctio delectus nam! Sunt, eos!</p>
    </section>
    <footer class="center footer"><div>Footer</div></footer>
</body>
</html>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, culpa.